// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid gray;

  .title {
    margin-top: 0;
  }

  .content {
    margin: 1rem 0;
  }

  .author {
    font-style: italic;
  }
}
